:host {
    width: 30%;
    border: 1px solid black;
    border-radius: 2%;
    display: inline-block;
    margin: 2%;
    padding: 2%;
    z-index: 2;
    transition: box-shadow 0.5s;
    -webkit-transition: box-shadow 0.5s;
    -moz-transition: box-shadow 0.5;
}

:host:hover{
    box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.3) ;
    z-index: 8;
}

button{
    color: rgb(183, 207, 231);
    float: right;
    background-color: inherit;
    border: 0;
    font-size: 1.75vmin;
    display: block;
}

#delete {
    z-index: 4;
    position: relative;
    top: -35px;
    left: 5px;
}

h2 {
    
    margin: 0;
    text-align: center;
    font-size: 4vmin;
}